.Table {
  margin-left: 50px;
  margin-top: 30px;
  margin-right: 50px;
}

.Controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 1rem;
  font-weight: 400;
  color: #7F56C5;
}

.Controls p {
  margin: 0;
}

.ControlsLeft {
  display: flex;
  align-items: baseline;
}

.ListHeader {
  padding-right: 7px;
  border-right-color: #BCBEC0;
  border-right-width: 1px;
  border-right-style: solid;
}

.DropdownLabel {
  font-size: .75rem;
  font-weight: 400;
  padding-left: 7px;
  padding-right: 3px;
}

.DropdownSelector {
  -webkit-appearance: none;
  border: none;
  color: #1DAFE9;
  background: #FFFFFF;
  font-weight: 600;
  font-size: .75rem;
  cursor: pointer;
}

.Arrow {
  color: #1DAFE9;
  font-weight: 600;
  font-size: .5rem;
}

.ControlsRight {
  display: flex;
  align-items: baseline;
}

.Pagination {
  font-size: 0.875rem;
  font-weight: 700;
}

.Range {
  padding-left: 30px;
}

.Of {
  font-weight: 400;
}

.PaginationArrows {
  color: #1DAFE9;
  padding-left: 10px;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

thead {
  background: #CACBCE;
}

thead tr {
  height: 32px;
}

thead th {
  padding: 0;
  text-align: left;
}

thead button {
  padding-Left: 13px;
  border: none;
  background: #CACBCE;
  font-size: .75rem;
  font-weight: 700;
  color: #282653;
}

thead button:focus {
  outline: 0;
}

table th:first-child{
  border-radius:3px 0 0 0;
}

table th:last-child{
  border-radius:0 3px 0 0;
}

tbody tr {
  height: 32px;
}

tbody td {
  padding: 0 0 0 13px;
  font-size: .75rem;
  font-weight: 400;
  color: #808285;
}

tbody {
  background: #F0F0F0;
}

tbody tr:nth-child(odd) {
  background: #F7F7F7;
}
